*{
    /* border:solid 1px red; */
}
.banner{
    width: 100%;
}

.banner img{
    width: 100%;
    /* margin-left: 10px; */
}

.vmgo{
    /* margin-top: 80vh; */
    width: 60%;
    margin-top: 30px;
}

.vmgo h2{
    margin-top: 30px;
}

.vmgo .desc{
    text-align: justify;
}