.bsit-banner{
    background-image: url(../img/bsit-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 85vh;
}
.bsit-banner img{
    width: 100%;
    height: 85vh;
}