@font-face {
    font-family: 'Azonix';
    src: url('../fonts/Azonix/Azonix.woff2') format('woff2'),
        url('../fonts/Azonix/Azonix.woff') format('woff'),
        url('../fonts/Azonix/Azonix.otf') format('opentype');
}

*{
    /* border: 1px solid red; */
}

.bsit-banner{
    background-image: url(../img/bsit-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 85vh;
}
.bsit-banner img{
    width: 100%;
    height: 85vh;
}
.program-title{
    width: 50%;
    height: 85vh;
    position: absolute;
    right: 0;
    top: 20vh;
    align-items: center;
    color: var(--5th-color);
    text-align: right;
}
.program-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-right: 100px;
}
.program-text strong{
    font-size: var(--8x-large);
    font-family: 'Azonix';
    letter-spacing: 5px;
    text-shadow: 3px 3px #000;
}
.program-text p{
    font-size: var(--2x-large);
}

.program-info{
    width: 80%;
    margin: auto;
    padding: 100px 0 100px;

    text-align: justify;
}

.program-po{
    padding-top: 50px;
}


/* START OF PROGRAM PO */
.olcards,
.olcards * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.olcards {
    list-style: none;
    counter-reset: cardCount;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    --cardsGap: 1rem;
    gap: var(--cardsGap);
    padding-bottom: var(--cardsGap);
}
.olcards li {
    counter-increment: cardCount;
    display: flex;
    color: white;
    --labelOffset: 1rem;
    --arrowClipSize: 1.5rem;
    margin-top: var(--labelOffset);
    padding: 0 30px;
}

.olcards li::before {
    content: counter(cardCount, decimal-leading-zero);
    background: white;
    color: var(--cardColor);
    font-size: var(--3x-large);
    font-weight: 700;
    width: 50px;
    transform: translateY(calc(-1 * var(--labelOffset)));
    margin-right: calc(-1 * var(--labelOffset));
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.5em;
}

.olcards li .content {
    width: 100%;
    background-color: var(--cardColor);
    --inlinePadding: 1em;
    --boxPadding: 0.5em;
    display: grid;
    padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
        var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
    grid-template-areas:
        "icon title"
        "icon text";
    gap: 0.25em 1em;
    clip-path: polygon(
        0 0,
        calc(100% - var(--arrowClipSize)) 0,
        100% 50%,
        calc(100% - var(--arrowClipSize)) 100%,
        calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
        0 calc(100% + var(--cardsGap))
    );
    position: relative;
    justify-content: left;
}
.olcards li .content::before {
    content: "";
    position: absolute;
    width: var(--labelOffset);
    height: var(--labelOffset);
    background: var(--cardColor);
    left: 0;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    filter: brightness(0.75);
}
.olcards li .content::after {
    content: "";
    position: absolute;
    height: var(--cardsGap);
    width: var(--cardsGap);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
    left: 0;
    top: 100%;
}
.olcards li .content .title {
    grid-area: title;
    font-size: var(--small);
    text-shadow: 2px 2px #000;
    font-weight: bold;
/* font-weight: 700; */
}
.olcards li .content .text {
    grid-area: text;
    font-size: var(--x-small);
    text-shadow: 1px 1px #000;
    text-align: justify;
}
/* END OF PROGRAM PO */