/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url(../css/keyframes.css);

@font-face {
    font-family: 'ShelleyAllegro';
    src: url('../fonts/ShelleyAllegro/Shelley-AllegroScript\ Wd.woff2') format('woff2'),
        url('../fonts/ShelleyAllegro/Shelley-AllegroScript\ Wd.woff') format('woff'),
        url('../fonts/ShelleyAllegro/Shelley-AllegroScript\ Wd.otf') format('opentype');
}
@font-face {
    font-family: 'Azonix';
    src: url('../fonts/Azonix/Azonix.woff2') format('woff2'),
        url('../fonts/Azonix/Azonix.woff') format('woff'),
        url('../fonts/Azonix/Azonix.otf') format('opentype');
}
@font-face {
    font-family: 'Wireframe';
    src: url('../fonts/TheWireframe/wireframe.woff2') format('woff2'),
        url('../fonts/TheWireframe/wireframe.woff') format('woff'),
        url('../fonts/TheWireframe/wireframe.otf') format('opentype');
}

:root{
    /*~~~~~~FONT COLORS~~~~~~*/
    --1st-color: #0066FF; 
    --2nd-color: #303030; 
    --3rd-color: #4D4D4D; 
    --4th-color: #737373; 
    --5th-color: #F7F7FF;
    --dark-color: #202020;
    --black: #000000;


    /*~~~~~~FONT SIZES~~~~~~*/
    --2x-small: 0.4rem;   /* 5px / 16px */
    --x-small: 0.75rem;      /* 12px / 16px */
    --small: 0.875rem;       /* 14px / 16px */
    --normal: 1rem;          /* 16px / 16px */
    --large: 1.125rem;       /* 18px / 16px */
    --x-large: 1.25rem;       /* 20px / 16px */
    --2x-large: 1.5rem;       /* 24px / 16px */
    --3x-large: 1.875rem;     /* 30px / 16px */
    --4x-large: 2.25rem;      /* 36px / 16px */
    --5x-large: 3rem;         /* 48px / 16px */
    --6x-large: 3.75rem;      /* 60px / 16px */
    --7x-large: 4.5rem;       /* 72px / 16px */
    --8x-large: 6rem;         /* 96px / 16px */
    --9x-large: 8rem;         /* 128px / 16px */
}

*{
    /* border: 1px solid red; */
    font-size: 16px;
}

/* START OF CICS FRONT CONTENT */
.cics-front-content{
    height: 85vh;
    background-image: url(../img/pin2.png);
    background-size: 100% 100%;
}
.cics-front-content .row{
    position: relative;
    height: 85vh;
    background: rgb(89,89,89);
    background: linear-gradient(180deg, rgba(89,89,89,0) 63%, rgba(0,0,0,1) 100%);
}
.cics-front-content .NEU-campus{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cics-front-content .NEU-campus img{
    width: 85%;
    margin-right: 50px;
    border-radius: 80px 0 ;
    box-shadow:  -10px -10px 14px #020812,
                10px 10px 14px #020812;
}
.cics-front-content .quote{
    display: block;
    align-items: center;
    padding-top: 60px;
    padding-right: 50px;
}
.cics-front-content .quote p{
    font-size: var(--3x-large);
    color: var(--5th-color);
    line-height: 80px;
    letter-spacing: 0.1em;
    text-align: right;
    opacity: 1;
    text-shadow: 5px 5px #000;
    font-family: 'Azonix';
}
.cics-front-content .quote span{
    font-size: var(--5x-large);
    letter-spacing: 10px;
    font-family: 'Wireframe';
}

.cics-front-content .quote .buttons{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: right;
}

.redirect-btn {
    font-size: var(--normal) !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    margin: 0 10px !important;
    border: 1px solid var(--5th-color);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--5th-color);
    background: #0208125d;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.redirect-btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #0066ffa8;
    z-index: -1;
}

.redirect-btn:hover, .redirect-btn:focus {
    color: white;
    border: 1px solid #1e40af;
}

.redirect-btn:hover:before, .redirect-btn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.redirect-btn:active {
    transform: scale(0.9);
}

.scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-container a {
    display: flex;
    color: #fff;
    font-size: var(--normal);
    margin-left: -24px;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: opacity 0.3s;
}
.scroll-container a:hover {
    opacity: 0.5;
}
.scroll-container a span {
    position: relative;
    top: -80px;
    left: 78px;
    width: 24px;
    height: 24px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
/* END OF CICS FRONT CONTENT */

/* START OF CICS RECENTS */
.blog-slider-wrapper{
    padding: 50px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-slider-wrapper h1{
    font-weight: bold;
    font-family: Azonix;
    letter-spacing: 5px;
    text-shadow: 3px 3px #fff;
}
.blog-slider {
    width: 100%;
    position: relative;
    max-width: 70% !important;
    margin: auto;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 13px;
    padding: 25px;
    margin-top: 40px;
    border: 1px solid #0066ff3f;
    border-radius: 25px;
    height: 70%;
    transition: all 0.3s;
}
.blog-slider__item {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
    transition-delay: 0.5s;
}
.blog-slider__img {
    width: 70%;
    height: 90%;
    flex-shrink: 0;
    background-image: linear-gradient(147deg, #6ba6ff0f 0%, #0066ff0f 74%);
    box-shadow: 4px 8px 10px 1px #0066ff4a;
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}
.blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(147deg, #6ba6ff0f 0%, #0066ff0f 74%);
    border-radius: 20px;
    opacity: 0.8;
}
.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}
.blog-slider__content {
    padding-right: 25px !important;
}
.blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
}
.blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
}
.blog-slider__title {
    font-size: var(--large);
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}
.blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
    font-size: var(--small);
}
.blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #0f6fff 0%, #004fc6 74%);
    padding: 10px 30px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 4px 13px 30px 1px #0066ff4a;
    text-decoration: none;
    font-weight: 500;
    font-size: var(--normal);
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50% !important;
    bottom: auto !important;
    transform: translateY(-50%);
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
}
.blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #0066FF;
    height: 30px;
    box-shadow: 4px 13px 30px 1px #0066ff4a;
}
/* END OF RECENTS */

/* START OF RECOMMEND READ*/
#reads{
    width: 100%;
    height: auto;
}
#reads .reads-cover{
    width: 100%;
    height: auto;
    background: rgb(0,74,186);
    background: radial-gradient(circle, rgba(0,74,186,1) 6%, rgba(0,25,62,1) 98%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#reads-title{
    padding: 60px 0;
    color: #fff;
    text-shadow: 3px 3px #000;
    font-size: var(--4x-large);
    letter-spacing: 0.3rem;
    font-family: Azonix;
}
.recommend-read{
	width: 80%;
	display: flex;
	margin: auto;
}
.recommend-read .article-info .article-date{
    color: #fff;
    margin-bottom: 10px;
}
.recommend-read .article-info .article-title{
    color: #fff;
	font-weight: bold;
	font-size: var(--2x-large);
}
.recommend-read .article-info .article-content{
	text-align: justify;
	margin-top: 10px;
    color: #fff;
    font-size: var(--normal);
    margin-bottom: 30px;
}
.recommend-read .article-info{
	width: 60%;
	display: block;
	padding: 10px;
}
.recommend-read .article-info a button{
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 1px solid #F7F7FF;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #F7F7FF;
    background: #02081295;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}
.recommend-read .article-info a button:before{
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: '';
	background-color: #0066FF;
	z-index: -1;
}
.recommend-read .article-info a button:hover, 
.recommend-read .article-info a button:focus {
	color: white;
    border: 1px solid #1e40af;
}
.recommend-read .article-info button:hover:before, 
.recommend-read .article-info button:focus:before {
	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
}
.recommend-read .article-info button:active {
	transform: scale(0.9);
}
.recommend-read .article-img{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.recommend-read .article-img img{
	width: 450px;
	aspect-ratio: 2 / 1.5;
	border-radius: 5px;
    border: 1px solid #abcdff5a;
    box-shadow: rgba(0, 0, 0, 0.37) 0px 5px 15px 0px;
}
.other-reads{
    width: 80%;
    margin: 100px 0 50px;
}
.card {
    width: 100% !important;
    aspect-ratio: 5 / 4;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: var(--5th-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card .card-image {
    width: 90%;
    height: 80%;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: rgba(1, 0, 78, 0.479) 0px 5px 15px 0px;
    transition: 0.3s;
}
.card .card-1{
    background-image: url(../img/read6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card .card-2{
    background-image: url(../img/read3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card .card-3{
    background-image: url(../img/read4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card .card-4{
    background-image: url(../img/read5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card .card-image .article-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}
.card .card-image:hover{
    transform: scale(1.1); 
}
.card img {
    width: 100%;
    height: auto;
}
.title a{
    text-decoration: none;
}
.title .title-name{
    color: #000;
    margin-top: 40px;
    padding: 10px;
}
.title .title-name:hover{
    font-weight: bold;
}
.title .card-date{
    padding: 0 10px 10px;
}
.title .card-date p{
    font-size: var(--small);
}
/* END OF ANNOUNCEMENTS */

/* START OF UPCOMING EVENTS */
#upcoming{
    padding: 30px 0;
}
#upcoming a{
    text-decoration: none;
    color: var(--2nd-color);
}
.upcoming-wrapper .row{
    height: 85vh;
}
.event-cont .upcoming-title{
    display: flex;
    align-items: center;
    padding-right: 50px;
    height: 100% !important;
    justify-content: right;
    text-align: right;
    font-weight: bold;
    font-family: Azonix;
    letter-spacing: 5px;
}
.upcoming-title .bx{
    font-size: var(--6x-large);
    color: #0066FF;
    text-shadow: 1px 1px #000;
    margin-right: 30px;
}
.event-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event{
    display: flex;
    border-left: solid 10px #0066FF;
    margin: 20px 0;
    width: 100%;
}
.event .date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 15%;
    font-size: var(--x-large);
}
.event .date .day{
    font-size: var(--4x-large);
    padding: 0; margin: 0;
    font-weight: bold;
}

.event-description{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 85%;
}
.event a.event-title{
    font-size: var(--large);
    font-weight: 600;
}
.event a.event-title:hover{
    color: var(--1st-color) !important;
}
.event-location{
    text-align: left;
}
/* END OF UPCOMING EVENTS */

@media screen and (max-width: 991px){
/* START OF CICS CONTENT */
    .cics-front-content{
        height: 80vh;
        background-image: url(../img/pin2.png);
        background-size: 150% 100%;
    }
    .cics-front-content .row{
        height: 80vh;
    }
    .cics-front-content .NEU-campus img{
        width: 80%;
        border-radius: 20px 0;
        margin: 30px 0 0 0;
    }
    .cics-front-content .quote{
        height: 30vh;
        display: grid;
        place-items: center;
        padding: 0;
    }
    .cics-front-content .quote p{
        margin: 0 0 20px 0;
        line-height: 50px;
        text-align: center  ;
        font-size: var(--small);
    }
    .cics-front-content .quote span{
        font-size: var(--normal);
    }
    .cics-front-content .quote .buttons{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .redirect-btn{
        font-size: var(--x-small) !important;
    }
/* END OF CICS CONTENT */

/* START OF RECENTS */
    .blog-slider-wrapper{
        padding: 100px 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog-slider-wrapper h1{
        padding-bottom: 20px;
    }
    .blog-slider {
        max-width: 70% !important;
        height: 40% !important;
        margin-top: 50px !important;
    }
    .blog-slider__item {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
    }
    .blog-slider__img {
        width: 50% !important;
        height: 100% !important;
    }
/* END OF RECENTS */

/* START OF GALLERY */
    #reads-title{
        font-size: x-large;
    }
    .recommend-read{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .recommend-read .article-info{
        width: 80vw;
    }
    .recommend-read .article-info .article-content{
        font-size: var(--small);
    }
    .recommend-read .article-img{
        width: 80vw;
    }
    .recommend-read .article-img img{
        width: 70vw;
        aspect-ratio: 2 / 1.5;
        border-radius: 20px;
        border: 1px solid #abcdff5a;
        box-shadow: rgba(0, 0, 0, 0.37) 0px 5px 15px 0px;
        margin-bottom: 20px;
    }
    .recommend-read .article-info a button{
        width: 75vw;
        padding: 0.7em 0;
    }
    .card{
        margin: 40px 0;
    }
/* END OF GALLERY */

/* START OF UPCOMING EVENTS */
    .upcoming-wrapper .row{
        height: auto;
    }
    .event-cont .upcoming-title{
        padding: 0;
        text-align: center;
        justify-content: center;
    }
    .event .date{
        width: 25%;
        align-items: center;
        justify-content: center;

    }
    .event .date .month{
        font-size: var(--normal);
    }
    .event .date .day{
        font-size: var(--3x-large);
    }
    .event-description{
        width: 75%;
    }
    .event span.event-title{
        font-size: var(--normal);
    }
    .event-location{
        font-size: var(--small);
    }
/* END OF UPCOMING EVENTS */
}

/* SEPARATE FOR RECENTS MORE RESPONSIVENESS */
@media screen and (max-width: 768px) {
    .blog-slider-wrapper{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog-slider-wrapper h1{
        padding-top: 100px !important;
    }
    .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
    }
    .blog-slider__item {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .blog-slider__img {
        transform: translateY(-50%);
        width: 90% !important;
        height: 45% !important;
    }
    .blog-slider__content {
        margin-top: -60px;
        text-align: center;
        padding: 0 30px;
    }
    .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 95% !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
    }
    .blog-slider__pagination .swiper-pagination-bullet-active {
        height: 11px;
        width: 30px;
    }
}
@media screen and (max-width: 576px) {
    .blog-slider__img {
        width: 95% !important;
        height: 25% !important ;
    }
    .blog-slider__content {
        padding: 0 !important; margin: 0 !important;
    }
    .blog-slider__button {
        width: 100%;
    }
}
